@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: AntonFont;
    src: url('./font/Anton-Regular.ttf');
 }

header {
    height: 450px;
    position: relative;
}

header .background {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(66%);
    position: absolute
}

header div {
    position: relative;
}

.title {
    font-family: AntonFont;
}


#ingredientOptions,
#appareilOptions,
#ustensilOptions {
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
}

#appareilInput:focus-visible,#ustensilInput:focus-visible,#ingredientInput:focus-visible{
    outline: none
}


#ingredientOptions::-webkit-scrollbar-track,
#appareilOptions::-webkit-scrollbar-track,
#ustensilOptions::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#ingredientOptions::-webkit-scrollbar,
#appareilOptions::-webkit-scrollbar,
#ustensilOptions::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#ingredientOptions::-webkit-scrollbar-thumb,
#appareilOptions::-webkit-scrollbar-thumb,
#ustensilOptions::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: lightgrey;
}

.main-header .optionsSection {
    margin-bottom: 20px;
}

.card-content p {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

article h2 {
    font-family: AntonFont;
}
